@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* Common css ==========
======================= */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
    margin-top: 100px;
}

button {

    background-color: rgb(219, 40, 100);
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    display: flex;
    align-items: center;
}

button:active {
    transform:  translateY(-10px) scale(1.2);
    
}

button p {
    margin-right: 10px;
}

.container h2{

    text-align: center;
    margin-bottom: 40px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 #toggler{

    display: none;
}
.fa-bars{

    display: none;
}

header p{
   
    font-size: 24px;
    font-weight: 700;  
}

header ul{
    display: flex;
    
 
}

header li {
    list-style: none;
    margin-left: 30px;
}


/* First article css=============
================================= */

.first-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
  
}

.first-left {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

.first-left h1 {
    font-size: 40px;
    margin-bottom: 15px;
}



.first-right img{
 width: 90%;
 margin-bottom: 20px;
 transition: .3s ease-in-out;
}

.first-right img:hover {
  transform: scale(1.1);
   
    transition: .3s ease-in-out;
   
}

/* Products section css==============
===================================== */

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    
}

.product{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
    
}


.product-title{
    font-size: 20px;
}
.product-price{
    font-size: 16px;
   
}

.product-detail p {
    
    color:gray; 
}

.products a  {

margin-top: 20px;
position: absolute;
right: 30px;
bottom: -50px;
text-decoration: none;
font-size: 18px;
color:rgb(219, 40, 100);
    
}


/* Contact form css===============
================================== */

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  
}

.contact-form img {

    width: 100%;
}

.contact-form-right{
    margin-left: 40px;
    margin-right: 40px;
}

.contact-right{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    margin-top: 50px;
    
}
input, textarea{
    padding: 20px 0;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid black;
}

/* Footer section css==============
=================================== */

footer{
    text-align: center;
    color: white;
    background-color: rgb(14, 0, 36);
    padding: 30px;
    width: 100%;
    margin-top: 50px;
}


/* Media query css =======================
========================================== */

  @media only screen and (max-width:688px) {


    .fa-bars{
        display: block;
        position: fixed;
        top: 110px;
        right: 30px;
        color:rgb(219, 40, 100);
    }


    nav{ 
        position: fixed;
        left: 0;
        width: 100%;
        background-color: rgba(219, 40, 100, 0.76);
        color:white;
        top: 150px;
        transform: translatex(700px);
       z-index: 1;
        transition: .2s ease-in;
        padding: 20px 0;
     }

 

    #toggler:checked~nav{
        display: block;
        transform: translateX(0);
    }


   
    .first-article{
       display:flex;
       flex-direction: column-reverse;
  }

  .first-left p{
      font-size: .8em;
     
  }
  .products{
      display:grid;
      grid-template-columns: 1fr ;
      margin-right: 30px;
      
  }

  .photo img{
      width: 100%;
  }

.contact-left-img{
    display: none;
    order: 2;
}

.contact-form{
    display: flex;
    flex-direction: column;}

}

@media only screen and (min-width:688px) and (max-width:992px)

{
    .first-article{
        display:flex;
        flex-direction: column-reverse;
       
   }
   .products{
       display:grid;
       grid-template-columns: 1fr 1fr ;
       gap: 10px;
   }
 
 .contact-left-img{
     display: none;}
}

